@tailwind base;
@tailwind components;
@tailwind utilities;

#loading div {
  @apply w-full h-full fixed top-0 left-0 flex justify-center items-center z-[100] bg-black-200 opacity-80;
}
.ordersTable .p-datatable-table {
  @apply text-sm border-separate font-helvetica;
}
.ordersTable .p-datatable-tbody tr td {
  @apply border-gray-102;
}
.ordersTable .p-datatable-thead tr th {
  @apply !bg-black-300 text-gray-200 font-bold p-3 border-0 w-1/4 border-black-300;
}
.ordersTable .p-datatable-thead tr th:first-child {
  @apply rounded-tl-lg;
}
.ordersTable .p-datatable-thead tr th:last-child {
  @apply rounded-tr-lg;
}
.ordersTable .p-datatable-tbody tr:last-child td:first-child {
  @apply rounded-bl-lg;
}
.ordersTable .p-datatable-tbody tr:last-child td:last-child {
  @apply rounded-br-lg;
}
.ordersTable .p-datatable-tbody tr {
  @apply !bg-black-200 text-gray-300;
}
.ordersTable .p-datatable-tbody tr.p-row-odd {
  @apply !bg-black-300 text-gray-300;
}
.ordersTable .p-datatable-thead tr th .p-column-header-content {
  @apply justify-center;
}
.ordersTable .p-datatable-tbody tr td {
  @apply text-center p-3 font-medium border-0;
}
.ordersTable .p-datatable-tbody tr td:first-child {
  @apply font-bold;
}
.menu-card .p-card-content {
  @apply p-0;
}

.menu-icon img {
  @apply !h-[24px] m-auto;
}

.menu-sm-icon img {
  @apply w-[20px] h-[20px];
}

.selected-menu img {
  @apply filter invert-12 sepia-9 saturate-682 hue-rotate-201 brightness-88 contrast-88;
}

.arrow-icon img {
  @apply h-[13px] rotate-180;
}

#bar-chart {
  @apply m-0 bg-black-100;
}

.home-sessions {
  @apply pt-[3rem] pb-[4rem] sm:py-8;
}

#bar-chart .p-button,
.p-dialog .p-button {
  @apply bg-gray-900 border-gray-400 text-gray-400;
}

#bar-chart .p-button:focus,
.p-dialog .p-button:focus {
  @apply shadow-none;
}

#bar-chart .p-inputtext,
.p-dialog .p-inputtext {
  @apply p-2 pl-0 border-none bg-gray-900 rounded-r-lg;
}

#bar-chart .p-inputtext:enabled:focus,
.p-dialog .p-inputtext:enabled:focus {
  @apply border-transparent shadow-none;
}

#bar-chart .p-datepicker-trigger,
.p-dialog .p-datepicker-trigger {
  @apply border-none;
}

#bar-chart .p-icon,
#bar-chart .p-button-label,
.p-dialog .p-icon,
.p-dialog .p-button-label {
  @apply text-gray-103;
}

#bar-chart .p-button.p-button-icon-only,
.p-dialog .p-button.p-button-icon-only {
  @apply p-0 w-12 bg-gray-900 rounded-l-lg;
}

#bar-chart .p-calendar,
.p-dialog .p-calendar {
  @apply border-none rounded-lg;
}

#bar-chart .p-dropdown {
  @apply border-none bg-gray-900 rounded-lg;
}

#page-btn-submit.p-button,
#popup-btn-submit.p-button {
  @apply bg-black-100 text-sm px-8 py-2 transition-none border-2 border-gray-300 rounded-[22px];
}

#page-btn-submit.p-button:focus {
  @apply shadow-none;
}

#page-btn-submit .p-button-label,
#popup-btn-submit .p-button-label {
  @apply !text-white-500  text-[14px] font-medium;
}

#modal-section .filter-popup-content .p-dropdown {
  @apply !bg-gray-900;
}

#modal-section .filter-popup-content .p-dropdown-trigger {
  @apply w-6;
}

#modal-section .p-dialog-content {
  @apply px-4 pt-6 pb-0 bg-black-200;
}

#modal-section .p-dialog-header {
  @apply text-center p-4 bg-black-200 text-gray-200 border-solid border-b border-white-500;
}
#modal-section .p-dialog-footer {
  @apply py-4 px-6 text-center bg-black-200;
}

button.p-button-secondary {
  @apply text-[12px] !text-gray-101;
}
.p-button.p-button-secondary:enabled:focus {
  @apply shadow-none;
}
.filtersModal .p-dialog-header {
  @apply px-[8px] py-[10px] rounded-t-[10px] border-b border-b-gray-700 border-solid;
}
.filtersModal .p-dialog-header .p-dialog-title {
  @apply font-normal text-center text-[16px];
}
.filtersModal .p-dialog-content {
  @apply pt-[20px];
}
.opmFilters .p-dropdown-label {
  @apply pt-[7px];
}
.opmFilters .p-dropdown {
  @apply h-[38px];
}
.opmFilters .p-calendar {
  @apply h-[38px];
}
.opmFilters .timeInput .p-calendar {
  @apply w-[8vw];
}
.opmFiltersMobile.p-dialog .p-dialog-header,
.opmFiltersMobile.p-dialog .p-dialog-content {
  @apply bg-black-200 border border-solid border-gray-900 pl-[3vw];
}
.opmFiltersMobile.p-dialog {
  @apply m-0;
}
.opmFiltersMobile .p-dialog-header .p-dialog-title {
  @apply ml-[10vw] text-white-500;
}
.opmFiltersMobile .labelClass {
  @apply w-[100px];
}
.opmFiltersMobile .p-dropdown {
  @apply bg-gray-900 border-gray-900 w-full;
}
.opmFiltersMobile .p-inputtext {
  @apply text-white-500;
}
.opmFiltersMobile .p-dropdown-label {
  @apply pl-[30px];
}
.opmFiltersMobileCalendar .title {
  @apply relative left-[10px];
}
.opmFiltersMobileCalendar span.p-calendar {
  @apply relative left-[8px] h-[39px];
}
.opmFiltersMobile .p-dropdown .p-dropdown-trigger {
  @apply w-[4vw] relative right-[14px];
}
.p-datepicker-trigger {
  @apply !p-0 border border-solid border-gray-105 border-r-0;
}
.p-datepicker-trigger img {
  @apply w-[50%] h-[50%];
}
.p-calendar .p-inputtext {
  @apply text-[13px] border-l-0 w-[110%];
}
.p-inputtext.p-placeholder {
  @apply text-[13px] !text-gray-104;
}
.p-inputtext {
  @apply text-[13px];
}
.submitBtnMobile {
  @apply text-center mt-[20px];
}
.submitBtnMobile button span {
  @apply text-[14px] font-normal;
}
.submitBtnMobile button,
.submitBtnMobile button:hover,
.submitBtnMobile button:enabled:active {
  @apply w-[20vw] md:w-[10vw] h-[44px] text-[13px] text-white-500  !bg-transparent border border-solid !border-gray-900 items-center;
}
.submitBtnMobile button:focus {
  @apply !shadow-none;
}
.submitBtnMobile button:active {
  @apply !bg-gray-101;
}
.p-dialog .p-dialog-header .p-dialog-title {
  @apply text-base;
}
.p-datepicker:not(.p-datepicker-inline) {
  @apply !bg-black-200 !text-gray-700;
}
.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  @apply !bg-black-200 !text-gray-700;
}
.submitBtnMobile.opmPopUp button {
  @apply w-[160px] !bg-transparent border border-solid !border-gray-900 rounded-3xl;
}
.submitBtnMobile.opmPopUp button span {
  @apply text-white-500;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  @apply shadow-none;
}
.p-inputtext:enabled:focus,
.p-inputtext:focus,
.p-inputtext:enabled:hover,
.p-dropdown:hover,
.p-dropdown.p-focus {
  @apply !shadow-none !border-none;
}
.p-calendar .p-datepicker-trigger,
.p-calendar .p-datepicker-trigger:hover {
  @apply !border-transparent bg-transparent text-gray-101;
}
.landScape {
  @apply w-[90vh] relative top-[50vh] left-[-13vw];
}
.landScape.opmComparison {
  @apply top-[65vh];
}
.landScape .filteredCard .p-button.p-component {
  @apply w-[12vh];
}
.landScape.opmComparison .filteredCard .p-button.p-component {
  @apply w-[15vh];
}
.portrait .filteredCard .p-button.p-component {
  @apply w-[28vw] sm:w-[40vw];
}
.filteredCard .p-button.p-component {
  @apply !bg-white-400 !border-black-200 border rounded-[100px] text-gray-400 px-2 py-3 flex justify-evenly items-center;
}
.filteredCard .p-button {
  @apply flex gap-[10px] px-[10px] items-center leading-none border border-solid border-gray-900 rounded rounded-[20px] h-[26px] text-[12px] text-gray-400 p-[5px] bg-transparent;
}
.filteredCard .p-button:focus {
  @apply shadow-none;
}
.filteredCard .p-button:hover {
  @apply bg-transparent text-white-700 !border-gray-900;
}
.resetFilters .p-button {
  @apply !bg-transparent;
}
.resetFilters span {
  @apply text-white-700 font-normal;
}
.inputContainer .p-inputtext {
  @apply w-[38vw] h-[37px];
}
.opmFilters .p-inputtext {
  @apply text-white-700;
}
.inputContainer span.flex {
  @apply mt-1;
}
/* .channelInput .p-dropdown {
  @apply pl-[20px]
} */
.p-dropdown .p-dropdown-trigger {
  @apply w-[2vw] relative right-[4px];
}
.calendarInput .p-calendar {
  @apply w-[135px];
}
.mobileInput .labelClass {
  @apply ml-[1vw];
}
.mobileInput .p-inputtext {
  @apply relative w-[43vw] left-[-12px];
}
.inputContainer {
  @apply relative left-[-10px];
}
.opmComparionInput {
  @apply !relative left-[-18px] md:!w-[11vw];
}
.dropdownWithIcon .p-dropdown {
  @apply border-l-transparent rounded-l-none w-[135px];
}
.dropdownWithIcon .p-dropdown:hover,
.dropdownWithIcon .p-dropdown:not(.p-disabled).p-focus {
  @apply !border-transparent;
}
.dropdownWithIcon img {
  @apply border border-solid border-gray-900 border-r-transparent rounded-l-md rounded-tr-none left-[2px] pl-[5px] bg-gray-900;
}
.p-inputtext {
  @apply text-gray-300;
}
.p-input-icon-left > .p-inputtext {
  @apply !pl-[2rem];
}
.search-input .p-inputtext {
  @apply !pl-14;
}
.p-calendar-w-btn-left button.p-button {
  @apply !bg-gray-900 !border-gray-900;
}
.p-calendar-w-btn-left .p-inputtext {
  @apply pl-0 bg-gray-900 border-gray-900;
}
.opmFilters .inputContainer .p-dropdown {
  @apply w-full pl-[20px];
}
.p-dialog-content::-webkit-scrollbar-thumb {
  @apply bg-gray-900 rounded-full;
}
.orderStatus-dialog .p-dialog-content {
  @apply pl-[22px] mr-[9px] pr-[15px] bg-black-200;
}
.p-dialog-content::-webkit-scrollbar {
  @apply w-1;
}
.orderStatus-dialog.p-dialog {
  @apply absolute max-[639px]:max-h-[calc(100vh-154px)] min-[390px]:w-[390px] w-max max-[390px]:!bottom-0 min-[390px]:max-h-[490px];
}
.p-dialog-mask.p-component-overlay {
  @apply backdrop-brightness-50;
}
.orderStatus-dialog .p-dialog-header {
  @apply flex items-center p-1.5 bg-black-200  border-b  border-slate-600 text-gray-200 h-[6.3vh];
}
.orderStatus-dialog .p-dialog-header .p-dialog-title {
  @apply text-center  text-base font-helvetica  ml-6;
}
.orderStatus-dialog .p-dialog-content {
  @apply border-gray-900 border-t text-center text-base font-helvetica;
}
.backButton .p-button {
  @apply !shadow-none !border-none bg-transparent;
}
.backButton .p-button:focus {
  @apply bg-transparent !shadow-none;
}
.backButton .p-button {
  @apply bg-gray-400;
}
.backButton .p-button:hover {
  @apply bg-transparent !shadow-none;
}
.backButton .p-button {
  @apply bg-transparent !shadow-none;
}
.orderStatus-dialog .p-dialog-header-icon:enabled:hover {
  @apply !bg-transparent;
}
.custom-popup.p-dialog {
  @apply absolute max-[639px]:max-h-[calc(100vh-154px)] max-[390px]:w-full w-[390px] max-[390px]:!bottom-0 sm:max-h-[528px];
}
.p-dialog-mask.p-component-overlay {
  @apply backdrop-contrast-[.85];
}
.custom-popup .p-dialog-header {
  @apply py-4 text-gray-101 z-10 font-medium bg-black-200 border-black-400 border-solid border-b;
}
.custom-popup .p-dialog-content {
  @apply pt-4 overflow-auto text-white-600 bg-black-200 pl-[24px] mr-[10px] pr-[14px];
}
.custom-popup .p-dialog-title {
  @apply text-center !text-[16px] !font-medium leading-[19px] text-gray-200;
}
.custom-popup .p-dialog-header-icon {
  @apply text-gray-400;
}
.p-dialog-header-icon:enabled:hover {
  @apply !bg-transparent;
}
.p-dialog-header .p-dialog-header-icon:enabled:active {
  @apply !bg-transparent !shadow-none !border-none;
}
.promotion-card .p-card-content {
  @apply p-0;
}
.search-button .p-button:focus {
  @apply bg-transparent;
}
.search-button .p-button {
  @apply -ml-8 sm:hidden !shadow-none !border-none pl-0;
}
.popup-button .p-button {
  @apply !shadow-none !border-none;
}

.p-dialog-content::-webkit-scrollbar-thumb {
  @apply bg-gray-900 rounded-full;
}

.custom-popup .p-dialog-content {
  @apply pl-[24px] mr-[10px] pr-[14px] bg-black-200;
}
.custom-popup.lineitem-popup .p-dialog-content {
  @apply bg-black-100;
}

.p-dialog {
  @apply bg-black-200;
}

.p-dialog-content::-webkit-scrollbar {
  @apply w-1;
}
.p-button.p-button-text:enabled:active {
  @apply bg-transparent;
}
.p-button.p-button-text:enabled:hover,
.p-button.p-button-text:not(button):not(a):not(.p-disabled):hover {
  @apply bg-transparent;
}
.custom-table .p-datatable-table {
  @apply text-[14px] leading-[17px] border-separate font-helvetica;
}
.custom-table .p-datatable-tbody tr td {
  @apply border-black-300;
}
.custom-table .p-datatable-thead tr th {
  @apply !bg-black-300 text-white-500  font-bold p-3 border-0 border-black-300;
}
.custom-table .p-datatable-thead tr th:first-child {
  @apply rounded-tl-md;
}
.custom-table .p-datatable-thead tr th:last-child {
  @apply rounded-tr-md;
}
.custom-table .p-datatable-tbody tr:last-child td:first-child {
  @apply rounded-bl-md;
}
.custom-table .p-datatable-tbody tr:last-child td:last-child {
  @apply rounded-br-md;
}
.custom-table .p-datatable-tbody tr {
  @apply !bg-black-200 text-white-500;
}
.custom-table .p-datatable-tbody tr.p-row-odd {
  @apply !bg-black-300 text-white-500;
}
.custom-table .p-datatable-thead tr th .p-column-header-content {
  @apply justify-center;
}
.custom-table .p-datatable-tbody tr td {
  @apply text-center p-3 font-medium border-0;
}
.custom-table .p-datatable-tbody tr td:first-child {
  @apply font-medium;
}
.opmFilters .p-dropdown,
.opmFilters .p-inputtext {
  @apply !bg-gray-900 border border-solid border-gray-900;
}
.opmFilters .p-calendar .p-inputtext {
  @apply pl-[2.6vw] md:w-[20vw] lg:w-[12vw];
}
.opmComparisonFilters .p-calendar .p-inputtext {
  @apply md:w-[9vw] lg:w-[12vw];
}
.opmFilters .p-dropdown:not(.p-disabled).p-focus {
  @apply !border-gray-900;
}
.opmFilters .p-dropdown:hover,
.opmFilters .p-inputtext:hover {
  @apply !border-black-800;
}
.p-datepicker {
  @apply rounded-[6px] p-0;
}
.p-datepicker thead {
  @apply bg-black-300;
}
.p-datepicker .p-datepicker-header {
  @apply border-none pb-0 max-h-[40px];
}
.p-datepicker:not(.p-datepicker-inline),
.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  @apply !bg-black-200;
}
.p-datepicker .p-datepicker-header .p-datepicker-next,
.p-datepicker .p-datepicker-header .p-datepicker-prev {
  @apply text-gray-300;
}
.p-datepicker .p-datepicker-header .p-datepicker-next:focus,
.p-datepicker .p-datepicker-header .p-datepicker-prev:focus {
  @apply shadow-none;
}
.p-datepicker table td > span.p-highlight {
  @apply text-inherit;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  @apply text-gray-200;
}
.p-datepicker table td > span.p-highlight {
  @apply !bg-black-300 !text-gray-200;
}
.p-datepicker table td.p-datepicker-today > span {
  @apply bg-inherit text-inherit;
}
.p-datepicker:not(.p-disabled)
  table
  td
  span:not(.p-highlight):not(.p-disabled):hover,
.p-datepicker .p-datepicker-header .p-datepicker-next:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-prev:enabled:hover,
.p-datepicker:not(.p-disabled)
  .p-yearpicker
  .p-yearpicker-year:not(.p-disabled):not(.p-highlight):hover,
.p-datepicker:not(.p-disabled)
  .p-monthpicker
  .p-monthpicker-month:not(.p-disabled):not(.p-highlight):hover,
.p-datepicker .p-yearpicker .p-yearpicker-year.p-highlight {
  @apply bg-black-300 text-gray-200;
}
.p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-month:enabled:hover,
.p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-year:enabled:hover {
  @apply text-gray-200;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
  @apply text-gray-200;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  @apply bg-gray-900 text-[white];
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  @apply bg-gray-900 text-[white];
}
.p-dropdown-panel .p-dropdown-items {
  @apply p-0;
}
.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  @apply bg-black-800 text-[white];
}
.labelClass {
  @apply text-[12px] text-gray-400 font-medium;
}
.tableToolTip {
  @apply w-[140px] mr-[0];
}
.tableToolTip thead tr th {
  @apply border border-solid border-t-0 border-l-0 border-r-0 border-black-400 pb-[10px];
}
.tableToolTip tbody {
  @apply flex justify-between	pt-[5px] pb-[5px];
}
.tableToolTip:after {
  @apply content-[""] mt-0 mb-0 ml-[0.5rem] mr-[0.5rem] inline-block border-[7px] border-solid border-transparent border-t-[8px] border-t-black-900 border-b-0 absolute left-[65px] top-[70px];
}
.toolTipEl {
  @apply z-[1] bg-black-900 text-[12px] text-white-500  opacity-100 pointer-events-none absolute -translate-x-[50%] -translate-y-[120%] text-left rounded-md px-[10px] py-[6px];
}
hr.horizontalLine {
  @apply border-0 rotate-90 relative h-0.5 top-[100px];
}
hr.horizontalLine.opm {
  background: linear-gradient(to right, #5a9ef5, #5a9ef500);
}
hr.horizontalLine.opmComparison {
  background: linear-gradient(to right, #6370ff, #5a9ef500);
}
hr.horizontalLine.yellow {
  background: linear-gradient(to right, #6370ff, #5a9ef500);
}
hr.horizontalLine.blue {
  background: linear-gradient(to right, #fda44f, #5a9ef500);
}
.calendarOpmComparison span input {
  @apply pl-[2.5vw];
}
.calendarSessions span input {
  @apply !pl-[6.5vw] md:!pl-[2.5vw];
}
.calendarOpm span input {
  @apply !pl-[6.5vw] md:!pl-[2.5vw];
}
.opmFiltersMobileCalendar span input {
  @apply !pl-[7vw];
}

/* Order Details */
#orderDetailsComp {
  @apply font-helvetica bg-black-100 sm:bg-inherit;
}
#orderDetailsComp .grid span {
  @apply text-sm py-2 text-gray-300 sm:bg-black-200;
}
#orderDetailsComp .grid span.p-column-title {
  @apply text-sm py-2 text-gray-300 bg-inherit;
}
.flexBlockWrapper {
  @apply flex justify-between w-full;
}
.flexWrapper {
  @apply flexBlockWrapper py-1 px-4 sm:p-0 border-b border-solid border-black-300 sm:border-none;
}
.flexColWrapper {
  @apply flex flex-col border-t-0 sm:border-t border-solid border-black-300 sm:grid;
}
.gridNoGapRounded {
  @apply grid gap-y-0 rounded-md;
}
.filterCardWrapper {
  @apply py-1 px-4 sm:p-0 border-solid border-black-300  bg-black-200;
}

.home-page .p-card {
  @apply rounded-lg shadow-lg shadow-gray-600 grow w-[35%] sm:w-[25%] md:w-[19%];
}

.home-page .p-card .p-card-body {
  @apply p-3 sm:!p-4 h-full flex flex-col justify-between;
}

.home-page .p-card .p-card-body .p-card-content {
  @apply p-0 !pt-2;
}

.home-page .p-card .p-card-title h6 {
  @apply text-xs leading-[18px] w-3/4 sm:w-1/2 font-helvetica;
}

.home-page .p-card .p-card-title .card-title h6 {
  @apply sm:w-[60%];
}
.home-opm {
  @apply sm:mt-6 ml-0 sm:ml-[5vw];
}
.home-opm-comp {
  @apply ml-0 sm:ml-[5vw];
}
.home-refresh-btn .p-button {
  @apply p-[0.54rem] bg-black-300 border-black-300 rounded-full hover:bg-black-300 hover:!border-black-300 active:!border-black-300;
}
.home-expand-btn .p-button {
  @apply bg-transparent border-transparent rounded-full p-0 hover:bg-transparent hover:!border-transparent active:!border-transparent;
}
.home-expand-btn .p-button:enabled:hover {
  @apply border-transparent;
}
.home-expand-btn .p-button:focus,
.home-refresh-btn .p-button:focus {
  @apply shadow-none;
}
.home-card-refresh-btn .p-button {
  @apply bg-black-200;
}
.custom-tab.p-tabview {
  @apply w-fit h-[36px] self-end;
}
.custom-tab.p-tabview .p-tabview-nav {
  @apply border-none h-[32px] bg-black-300;
}
.custom-tab.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @apply bg-black-300 text-gray-400 h-[30px] rounded-none border-none text-[12px] font-medium;
}
.custom-tab .p-tabview-nav-content {
  @apply rounded-[8px];
}
.custom-tab.p-tabview .p-tabview-nav li {
  @apply bg-black-300;
}
.custom-tab.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  @apply bg-gray-200 text-black-200 rounded-[8px] text-[12px] font-medium;
}
.custom-tab.p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  @apply bg-black-300 text-gray-400;
}
.custom-tab.p-accordion .p-accordion-header .p-accordion-header-link,
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @apply transition-none border-none py-0;
}
.custom-tab.p-tabview .p-tabview-panels {
  @apply hidden;
}
.custom-tab.p-tabview
  .p-tabview-nav
  li
  .p-tabview-nav-link:not(.p-disabled):focus {
  @apply shadow-none;
}
.custom-tab .p-tabview .p-tabview-nav .p-tabview-ink-bar {
  @apply invisible;
}
.link-box {
  @apply w-full h-[50px] text-[13px] text-white-500  !bg-black-200 border border-black-300 items-center rounded-lg;
}
.link-box:hover {
  @apply border border-gray-200;
}
.quick-links-tab.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
.quick-links-tab.p-tabview .p-tabview-nav li {
  @apply rounded-full mr-1;
}
.quick-links-tab.p-tabview .p-tabview-nav {
  @apply bg-inherit;
}
.quick-links-tab.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @apply text-gray-300 rounded-full mr-1 h-[35px];
}
.quick-links-tab.p-tabview .p-tabview-nav li {
  @apply bg-transparent;
}
.quick-links-tab .p-tabview-nav-content {
  @apply h-[35px];
}
.quick-links-tab.p-tabview {
  @apply h-[2.25rem];
}
.custom-btn {
  @apply mx-auto mt-2;
}
.custom-btn .p-button {
  @apply bg-black-200 border-gray-300 text-gray-300 text-[14px] rounded-full h-[44px] w-[160px] font-normal;
}
.custom-btn .p-button:enabled:active,
.p-button:not(button):not(a):not(.p-disabled):active {
  @apply bg-transparent shadow-none border-gray-300 border-2;
}
.custom-btn .p-button:enabled:hover,
.p-button:not(button):not(a):not(.p-disabled):hover {
  @apply bg-transparent shadow-none border-gray-300 border-2;
}
.p-datepicker-footer {
  @apply border-t border-black-300 py-4;
}
.p-datepicker-footer .p-inputtext {
  @apply bg-black-200 text-gray-200 w-[3rem] text-center border-none text-[1.1rem] px-0 py-1;
}
.p-datepicker-footer .p-button,
.p-datepicker-footer .p-button:focus {
  @apply bg-black-200 border-none shadow-none p-0 text-gray-400;
}
.p-datepicker-footer .p-button:not(button):not(a):not(.p-disabled):hover {
  @apply border-black-300 bg-transparent;
}
.p-datepicker-footer .p-dropdown {
  @apply bg-black-200 pl-0 w-[3rem] sm:w-[4rem] ml-4;
}
.p-datepicker .p-timepicker {
  @apply hidden;
}
.custom-btn .p-button:enabled:hover,
.p-button:not(button):not(a):not(.p-disabled):hover {
  @apply bg-transparent shadow-none border-gray-300 border-2;
}
.home-opm-charts {
  @apply my-4;
}
.order-details-table.p-datatable .p-column-resizer {
  @apply border-none w-0;
}
.order-details-table .p-datatable-tbody tr td {
  @apply border-none;
}
.order-details-table .p-datatable-thead tr th {
  @apply py-1;
}

/* OPM tab */
.opm-tabs .p-tabview-nav-content {
  @apply rounded-8;
}
.opm-tabs.p-accordion .p-accordion-header .p-accordion-header-link,
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @apply transition-none border-none py-0;
}
.opm-tabs.p-tabview .p-tabview-panels {
  @apply hidden;
}
.opm-tabs.p-tabview {
  @apply w-fit h-[36px] self-end;
}
.opm-tabs.p-tabview .p-tabview-nav {
  @apply border-none h-[32px] bg-black-300;
}
.opm-tabs.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @apply bg-black-300 text-gray-400 h-[30px] rounded-none border-none text-[12px] font-medium;
}
.opm-tabs.p-tabview .p-tabview-nav li {
  @apply bg-black-300;
}
.opm-tabs.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  @apply bg-gray-200 text-black-200 rounded-[8px] text-[12px] font-medium;
}
.opm-tabs.p-tabview
  .p-tabview-nav
  li
  .p-tabview-nav-link:not(.p-disabled):focus {
  @apply shadow-none;
}
.opm-tabs.p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  @apply bg-black-300 text-gray-400;
}
.opm-tabs.p-accordion .p-accordion-header .p-accordion-header-link,
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @apply transition-none border-none py-0;
}
.opm-tabs .p-tabview {
  @apply w-[121px] h-[36px] z-0;
}
.opm-page-chart-container {
  @apply border-0 rounded-[10px] sm:w-[65vw] lg:w-[72vw] lg:ml-[0] h-[24rem] md:h-[340px] lg:!h-[62.23vh] mt-[3vh] md:mt-[1vh] lg:mt-[3vh];
}
.session-tooltip-tbody {
  @apply flex flex-wrap;
}
.session-tooltip-tbody tr.session-col-1 {
  @apply w-[65%];
}
.session-tooltip-tbody tr.session-col-2 {
  @apply w-[35%] text-right;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  @apply !shadow-none !border-none;
}
.p-checkbox .p-checkbox-box.p-highlight {
  @apply !border-white-100 !bg-transparent;
}
.autoRefreshCheckBox .p-checkbox .p-checkbox-box {
  @apply w-[18px] h-[18px];
}
.p-toast {
  @apply top-[7vh];
}
.p-toast-message-info {
  @apply !bg-green-100 !text-black-700 !border-l-transparent;
}
.p-toast-message-content {
  @apply !border-l-0;
}
.p-toast-icon-close-icon {
  @apply text-black-700 bg-transparent;
}
.p-toast-icon-close:hover {
  @apply !bg-transparent;
}
.autoRefreshToast .p-toast-message-icon {
  @apply !h-0;
}
.p-datepicker-footer .p-button:enabled:hover,
.p-datepicker-footer .p-button:not(button):not(a):not(.p-disabled):hover {
  @apply bg-transparent text-gray-400;
}
.p-datepicker-footer .p-dropdown {
  @apply !border-none;
}
.ampm-comp {
  text-align: -webkit-center;
}
.filteredCard .p-image,
.filteredCard img {
  @apply !w-[.8rem] !h-[.8rem] max-w-[.8rem];
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-900 rounded-full;
}
::-webkit-scrollbar {
  @apply w-1 h-1;
}
.quick-links-popup {
  @apply bg-black-100 absolute top-[56px] left-0 sm:left-[25vw] lg:left-[21vw] right-0;
}
.quick-links-popup .p-dialog-header {
  @apply bg-black-100 rounded-none p-5 sm:px-10 pb-0 border border-black-300 border-b-0 border-r-0;
}
.quick-links-popup .p-dialog-content {
  @apply bg-inherit !rounded-none  border border-black-300 border-t-0 border-r-0 p-5 pt-3 sm:pt-5 sm:px-10;
}
.quick-link-btn .p-button .p-button-label {
  @apply text-white-700 text-lg font-normal;
}
.p-toast .p-toast-message {
  @apply m-auto w-95w xs:w-80w sm:w-50w lg:w-40w;
}
.p-toast .p-toast-message .p-toast-message-content {
  @apply flex items-center text-14;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  @apply mt-0;
}
.autoRefreshToast.p-toast .p-toast-icon-close {
  @apply left-[1vw] md:left-0;
}
.p-toast-message-content .p-image img {
  @apply max-w-max;
}
