@tailwind base;
@tailwind components;
@tailwind utilities;

.ordersTable .p-datatable-table {
  @apply text-sm border-separate font-helvetica;
}
.ordersTable .p-datatable-tbody tr td {
  @apply border-[#D4D4D4];
}
.ordersTable .p-datatable-thead tr th {
  @apply !bg-[#292E36] text-[#F2F2F2] font-bold p-3 border-0 w-1/4 border-[#292E36];
}
.ordersTable .p-datatable-thead tr th:first-child {
  @apply rounded-tl-lg;
}
.ordersTable .p-datatable-thead tr th:last-child {
  @apply rounded-tr-lg;
}
.ordersTable .p-datatable-tbody tr:last-child td:first-child {
  @apply rounded-bl-lg;
}
.ordersTable .p-datatable-tbody tr:last-child td:last-child {
  @apply rounded-br-lg;
}
.ordersTable .p-datatable-tbody tr {
  @apply !bg-[#22262C] text-[#FAF9F6];
}
.ordersTable .p-datatable-tbody tr.p-row-odd {
  @apply !bg-[#292E36] text-[#FAF9F6];
}
.ordersTable .p-datatable-thead tr th .p-column-header-content {
  @apply justify-center;
}
.ordersTable .p-datatable-tbody tr td {
  @apply text-center p-3 font-medium border-0;
}
.ordersTable .p-datatable-tbody tr td:first-child {
  @apply font-bold;
}
.menu-card .p-card-content {
  @apply p-0;
}

.menu-icon img {
  @apply !h-[24px] m-auto;
}

.menu-sm-icon img {
  @apply w-[20px] h-[20px];
}

.selected-menu img {
  @apply filter invert-12 sepia-9 saturate-682 hue-rotate-201 brightness-88 contrast-88;
}

.arrow-icon img {
  @apply h-[13px] rotate-180;
}

#bar-chart {
  @apply m-0 p-5 sm:p-10 sm:pt-7 bg-[#1C1C20];
}

.home-sessions {
  @apply pt-[3rem] pb-[4rem] sm:py-8;
}

#bar-chart .p-button,
.p-dialog .p-button {
  @apply bg-[#30343B] border-[#898A8D] text-[#898A8D];
}

#bar-chart .p-button:focus,
.p-dialog .p-button:focus {
  @apply shadow-none;
}

#bar-chart .p-inputtext,
.p-dialog .p-inputtext {
  @apply p-2 pl-0 border-none bg-[#30343B] rounded-r-lg;
}

#bar-chart .p-inputtext:enabled:focus,
.p-dialog .p-inputtext:enabled:focus {
  @apply border-transparent shadow-none;
}

#bar-chart .p-datepicker-trigger,
.p-dialog .p-datepicker-trigger {
  @apply border-none;
}

#bar-chart .p-icon,
#bar-chart .p-button-label,
.p-dialog .p-icon,
.p-dialog .p-button-label {
  @apply text-[#979797];
}

#bar-chart .p-button.p-button-icon-only,
.p-dialog .p-button.p-button-icon-only {
  @apply p-0 w-12 bg-[#30343B] rounded-l-lg;
}

#bar-chart .p-calendar,
.p-dialog .p-calendar {
  @apply border-none rounded-lg;
}

#bar-chart .p-dropdown {
  @apply border-none bg-[#30343B] rounded-lg;
}

#page-btn-submit.p-button,
#popup-btn-submit.p-button {
  @apply bg-[#1C1C20] text-sm px-8 py-2 transition-none border-2 border-[#FAF9F6] rounded-[22px];
}

#page-btn-submit .p-button-label,
#popup-btn-submit .p-button-label {
  @apply !text-white text-[14px] font-medium;
}

#modal-section .filter-popup-content .p-dropdown {
  @apply !bg-[#30343B];
}

#modal-section .filter-popup-content .p-dropdown-trigger {
  @apply w-6;
}

#modal-section .p-dialog-content {
  @apply px-4 pt-6 pb-0 bg-[#1C1C20];
}

#modal-section .p-dialog-header {
  @apply text-center p-4 bg-[#1C1C20] text-[#F2F2F2] border-solid border-b border-[#FFFFFF];
}
#modal-section .p-dialog-footer {
  @apply py-4 px-6 text-center bg-[#1C1C20];
}

button.p-button-secondary {
  @apply text-[12px] !text-[#757575];
}
.p-button.p-button-secondary:enabled:focus {
  @apply shadow-none;
}
.filtersModal .p-dialog-header {
  @apply px-[8px] py-[10px] rounded-t-[10px] border-b border-b-[#F4F4F4] border-solid;
}
.filtersModal .p-dialog-header .p-dialog-title {
  @apply font-normal text-center text-[16px];
}
.filtersModal .p-dialog-content {
  @apply pt-[20px];
}
.opmFilters .p-dropdown-label {
  @apply pt-[7px];
}
.opmFilters .p-dropdown {
  @apply h-[38px];
}
.opmFilters .p-calendar {
  @apply h-[38px];
}
.opmFilters .timeInput .p-calendar {
  @apply w-[8vw];
}
.opmFiltersMobile.p-dialog .p-dialog-header,
.opmFiltersMobile.p-dialog .p-dialog-content {
  @apply bg-[#1C1C20] border border-solid border-[#30343B] pl-[3vw];
}
.opmFiltersMobile.p-dialog {
  @apply m-0;
}
.opmFiltersMobile .p-dialog-header .p-dialog-title {
  @apply ml-[10vw] text-white;
}
.opmFiltersMobile .labelClass {
  @apply w-[100px];
}
.opmFiltersMobile .p-dropdown {
  @apply bg-[#30343B] border-[#30343B] w-full;
}
.opmFiltersMobile .p-inputtext {
  @apply text-white;
}
.opmFiltersMobile .p-dropdown-label {
  @apply pl-[30px];
}
.opmFiltersMobileCalendar .title {
  @apply relative left-[10px];
}
.opmFiltersMobileCalendar span.p-calendar {
  @apply relative left-[8px] h-[39px] w-[93%];
}
.opmFiltersMobile .p-dropdown .p-dropdown-trigger {
  @apply w-[4vw] relative right-[14px];
}
.p-datepicker-trigger {
  @apply !p-0 border border-solid border-[#ced4da] border-r-0;
}
.p-datepicker-trigger img {
  @apply w-[50%] h-[50%];
}
.p-calendar .p-inputtext {
  @apply text-[13px] border-l-0 w-[110%];
}
.p-inputtext.p-placeholder {
  @apply text-[13px] !text-[#B9B9B9];
}
.p-inputtext {
  @apply text-[13px];
}
.submitBtnMobile {
  @apply text-center mt-[20px];
}
.submitBtnMobile button span {
  @apply text-[14px] font-normal;
}
.submitBtnMobile button,
.submitBtnMobile button:hover,
.submitBtnMobile button:enabled:active {
  @apply w-[20vw] md:w-[10vw] h-[44px] text-[13px] text-white !bg-transparent border border-solid !border-[#30343B] items-center;
}
.submitBtnMobile button:focus {
  @apply !shadow-none;
}
.submitBtnMobile button:active {
  @apply !bg-[#757575];
}
.p-dialog .p-dialog-header .p-dialog-title {
  @apply text-base;
}
.p-datepicker:not(.p-datepicker-inline) {
  @apply !bg-[#1C1C20] !text-[#F4F4F4];
}
.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  @apply !bg-[#1C1C20] !text-[#F4F4F4];
}
.submitBtnMobile.opmPopUp button {
  @apply w-[160px] !bg-transparent border border-solid !border-[#30343B] rounded-3xl;
}
.submitBtnMobile.opmPopUp button span {
  @apply text-white;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  @apply shadow-none;
}
.p-inputtext:enabled:focus,
.p-inputtext:focus,
.p-inputtext:enabled:hover,
.p-dropdown:hover,
.p-dropdown.p-focus {
  @apply !shadow-none !border-none;
}
.p-calendar .p-datepicker-trigger,
.p-calendar .p-datepicker-trigger:hover {
  @apply !border-transparent bg-transparent text-[#757575];
}
.landScape {
  @apply w-[90vh] relative top-[50vh] left-[-13vw];
}
.landScape.opmComparison {
  @apply top-[65vh];
}
.landScape .filteredCard .p-button.p-component {
  @apply w-[12vh];
}
.landScape.opmComparison .filteredCard .p-button.p-component {
  @apply w-[15vh];
}
.portrait .filteredCard .p-button.p-component {
  @apply w-[40vw];
}
.filteredCard .p-button.p-component {
  @apply !bg-[#F4F4F400] !border-[#22262C] border rounded-[100px] text-[#8B8C8F] px-2 py-4 flex justify-evenly items-center;
}
.filteredCard .p-button {
  @apply flex gap-[10px] px-[10px] items-center leading-none border border-solid border-[#30343B] rounded rounded-[20px] h-[26px] text-[12px] text-[#898A8D] p-[5px] bg-transparent;
}
.filteredCard .p-button:focus {
  @apply shadow-none;
}
.filteredCard .p-button:hover {
  @apply bg-transparent text-[#E8E8E8] border-[#30343B];
}
.resetFilters .p-button {
  @apply !bg-transparent;
}
.resetFilters span {
  @apply text-[#E8E8E8] font-normal;
}
.inputContainer .p-inputtext {
  @apply w-[150px] h-[37px];
}
.opmFilters .p-inputtext {
  @apply text-[#E8E8E8];
}
.inputContainer span.flex {
  @apply mt-1;
}
/* .channelInput .p-dropdown {
  @apply pl-[20px]
} */
.p-dropdown .p-dropdown-trigger {
  @apply w-[2vw] relative right-[4px];
}
.calendarInput .p-calendar {
  @apply w-[135px];
}
.mobileInput .labelClass {
  @apply ml-[1vw];
}
.mobileInput .p-inputtext {
  @apply relative w-[43vw] left-[-12px];
}
.inputContainer {
  @apply relative left-[-10px];
}
.dropdownWithIcon .p-dropdown {
  @apply border-l-transparent rounded-l-none w-[135px];
}
.dropdownWithIcon .p-dropdown:hover,
.dropdownWithIcon .p-dropdown:not(.p-disabled).p-focus {
  @apply !border-transparent;
}
.dropdownWithIcon img {
  @apply border border-solid border-[#30343B] border-r-transparent rounded-l-md rounded-tr-none left-[2px] pl-[5px] bg-[#30343B];
}
.p-inputtext {
  @apply text-[#FAF9F6];
}
.p-input-icon-left > .p-inputtext {
  @apply !pl-[2rem];
}
.search-input .p-inputtext {
  @apply !pl-14;
}
.p-calendar-w-btn-left button.p-button {
  @apply !bg-[#30343B] !border-[#30343B];
}
.p-calendar-w-btn-left .p-inputtext {
  @apply pl-0 bg-[#30343B] border-[#30343B];
}
.opmFilters .inputContainer .p-dropdown {
  @apply w-full pl-[20px];
}
.p-dialog-content::-webkit-scrollbar-thumb {
  @apply bg-[#30343B] rounded-full;
}
.orderStatus-dialog .p-dialog-content {
  @apply pl-[22px] mr-[9px] pr-[15px] bg-[#22262C];
}
.p-dialog-content::-webkit-scrollbar {
  @apply w-1;
}
.orderStatus-dialog.p-dialog {
  @apply absolute max-[639px]:max-h-[calc(100vh-154px)] min-[390px]:w-[390px] w-max max-[390px]:!bottom-0 min-[390px]:max-h-[490px];
}
.p-dialog-mask.p-component-overlay {
  @apply backdrop-brightness-50;
}
.orderStatus-dialog .p-dialog-header {
  @apply flex items-center p-1.5 bg-[#22262C]  border-b  border-slate-600 text-[#F2F2F2];
}
.orderStatus-dialog .p-dialog-header .p-dialog-title {
  @apply text-center  text-base font-helvetica  ml-6;
}
.orderStatus-dialog .p-dialog-content {
  @apply border-[#30343B] border-t text-center text-base font-helvetica;
}
.backButton .p-button {
  @apply !shadow-none !border-none bg-transparent;
}
.backButton .p-button:focus {
  @apply bg-transparent !shadow-none;
}
.backButton .p-button {
  @apply bg-[#898A8D];
}
.backButton .p-button:hover {
  @apply bg-transparent !shadow-none;
}
.backButton .p-button {
  @apply bg-transparent !shadow-none;
}
.orderStatus-dialog .p-dialog-header-icon:enabled:hover {
  @apply !bg-transparent;
}
.custom-popup.p-dialog {
  @apply absolute max-[639px]:max-h-[calc(100vh-154px)] max-[390px]:w-full w-[390px] max-[390px]:!bottom-0 sm:max-h-[528px];
}

.p-dialog-mask.p-component-overlay {
  @apply backdrop-brightness-50;
}

.custom-popup .p-dialog-header {
  @apply py-4 text-[#757575] z-10 font-medium bg-[#22262C] border-[#383F47] border-solid border-b;
}
.custom-popup .p-dialog-content {
  @apply pt-4 overflow-auto text-[#FFFFFF00] bg-[#22262C] pl-[24px] mr-[10px] pr-[14px];
}
.custom-popup .p-dialog-title {
  @apply text-center !text-[16px] !font-medium leading-[19px] text-[#F2F2F2];
}
.custom-popup .p-dialog-header-icon {
  @apply text-[#898A8D];
}
.p-dialog-header-icon:enabled:hover {
  @apply !bg-transparent;
}
.p-dialog-header .p-dialog-header-icon:enabled:active {
  @apply !bg-transparent !shadow-none !border-none;
}
.promotion-card .p-card-content {
  @apply p-0;
}
.search-button .p-button:focus {
  @apply bg-transparent;
}
.search-button .p-button {
  @apply -ml-8 sm:hidden !shadow-none !border-none;
}
.popup-button .p-button {
  @apply !shadow-none !border-none;
}

.p-dialog-content::-webkit-scrollbar-thumb {
  @apply bg-[#30343B] rounded-full;
}

.custom-popup .p-dialog-content {
  @apply pl-[24px] mr-[10px] pr-[14px] bg-[#22262C];
}

.p-dialog {
  @apply bg-[#22262C];
}

.p-dialog-content::-webkit-scrollbar {
  @apply w-1;
}
.p-button.p-button-text:enabled:active {
  @apply bg-transparent;
}
.p-button.p-button-text:enabled:hover,
.p-button.p-button-text:not(button):not(a):not(.p-disabled):hover {
  @apply bg-transparent;
}
.custom-table .p-datatable-table {
  @apply text-[14px] leading-[17px] border-separate font-helvetica;
}
.custom-table .p-datatable-tbody tr td {
  @apply border-[#292E36];
}
.custom-table .p-datatable-thead tr th {
  @apply !bg-[#292E36] text-white font-bold p-3 border-0 w-1/4 border-[#292E36];
}
.custom-table .p-datatable-thead tr th:first-child {
  @apply rounded-tl-md;
}
.custom-table .p-datatable-thead tr th:last-child {
  @apply rounded-tr-md;
}
.custom-table .p-datatable-tbody tr:last-child td:first-child {
  @apply rounded-bl-md;
}
.custom-table .p-datatable-tbody tr:last-child td:last-child {
  @apply rounded-br-md;
}
.custom-table .p-datatable-tbody tr {
  @apply !bg-[#22262C] text-[#FFFFFF];
}
.custom-table .p-datatable-tbody tr.p-row-odd {
  @apply !bg-[#292E36] text-[#FFFFFF];
}
.custom-table .p-datatable-thead tr th .p-column-header-content {
  @apply justify-center;
}
.custom-table .p-datatable-tbody tr td {
  @apply text-center p-3 font-medium border-0;
}
.custom-table .p-datatable-tbody tr td:first-child {
  @apply font-medium;
}
.opmFilters .p-dropdown,
.opmFilters .p-inputtext {
  @apply bg-[#30343B] border border-solid border-[#30343B];
}
.opmFilters .p-dropdown:not(.p-disabled).p-focus {
  @apply !border-[#30343B];
}
.opmFilters .p-dropdown:hover,
.opmFilters .p-inputtext:hover {
  @apply !border-[#40444B];
}
.p-datepicker {
  @apply rounded-[6px];
}
.p-datepicker thead {
  @apply bg-[#292E36];
}
.p-datepicker .p-datepicker-header {
  @apply border-none pb-0 max-h-[40px];
}
.p-datepicker:not(.p-datepicker-inline),
.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  @apply !bg-[#22262C];
}
.p-datepicker .p-datepicker-header .p-datepicker-next,
.p-datepicker .p-datepicker-header .p-datepicker-prev {
  @apply text-[#FAF9F6];
}
.p-datepicker .p-datepicker-header .p-datepicker-next:focus,
.p-datepicker .p-datepicker-header .p-datepicker-prev:focus {
  @apply shadow-none;
}
.p-datepicker table td > span.p-highlight {
  @apply text-inherit;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  @apply text-[#F2F2F2];
}
.p-datepicker table td > span.p-highlight {
  @apply !bg-[#292E36] !text-[#F2F2F2];
}
.p-datepicker table td.p-datepicker-today > span {
  @apply bg-inherit text-inherit;
}
.p-datepicker:not(.p-disabled)
  table
  td
  span:not(.p-highlight):not(.p-disabled):hover,
.p-datepicker .p-datepicker-header .p-datepicker-next:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-prev:enabled:hover,
.p-datepicker:not(.p-disabled)
  .p-yearpicker
  .p-yearpicker-year:not(.p-disabled):not(.p-highlight):hover,
.p-datepicker:not(.p-disabled)
  .p-monthpicker
  .p-monthpicker-month:not(.p-disabled):not(.p-highlight):hover,
.p-datepicker .p-yearpicker .p-yearpicker-year.p-highlight {
  @apply bg-[#292E36] text-[#F2F2F2];
}
.p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-month:enabled:hover,
.p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-year:enabled:hover {
  @apply text-[#F2F2F2];
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
  @apply text-[#F2F2F2];
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  @apply bg-[#30343B] text-[white];
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  @apply bg-[#30343B] text-[white];
}
.p-dropdown-panel .p-dropdown-items {
  @apply p-0;
}
.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  @apply bg-[#40444B] text-[white];
}
.labelClass {
  @apply text-[12px] text-[#898A8D] font-medium;
}
.tableToolTip {
  @apply w-[140px] mr-[0];
}
.tableToolTip thead tr th {
  @apply border border-solid border-t-0 border-l-0 border-r-0 border-[#383F47] pb-[10px];
}
.tableToolTip tbody {
  @apply flex justify-between	pt-[5px] pb-[5px];
}
.tableToolTip:after {
  @apply content-[""] mt-0 mb-0 ml-[0.5rem] mr-[0.5rem] inline-block border-[7px] border-solid border-transparent border-t-[8px] border-t-[#25292D] border-b-0 absolute left-[65px] top-[70px];
}
.toolTipEl {
  @apply bg-[#25292D] text-[12px] text-white opacity-100 pointer-events-none absolute -translate-x-[50%] -translate-y-[120%] text-left rounded-md px-[10px] py-[6px];
}
hr.horizontalLine {
  @apply border-0 rotate-90 relative h-0.5 top-[100px];
}
hr.horizontalLine.opm {
  background: linear-gradient(to right, #5a9ef5, #5a9ef500);
}
hr.horizontalLine.opmComparison {
  background: linear-gradient(to right, #6370ff, #5a9ef500);
}
hr.horizontalLine.yellow {
  background: linear-gradient(to right, #6370FF, #5a9ef500);
}
hr.horizontalLine.blue {
  background: linear-gradient(to right, #FDA44F, #5a9ef500);
}
.calendarOpmComparison span input {
  @apply pl-[2.5vw];
}
.calendarSessions span input {
  @apply !pl-[6.5vw] md:!pl-[2.5vw];
}
.opmFiltersMobileCalendar span input {
  @apply !pl-[7vw];
}

/* Order Details */
#orderDetailsComp {
  @apply font-helvetica;
}
#orderDetailsComp .grid span {
  @apply text-sm py-2 text-[#FAF9F6] bg-[#30343B];
}
#orderDetailsComp .grid span.p-column-title {
  @apply text-sm py-2 text-[#FAF9F6] bg-inherit;
}
.orderItemInfoTable .p-datatable-table {
  @apply text-sm border-[#f4f4f4] font-helvetica !pb-8;
}
.orderItemInfoTable .p-datatable-thead tr th {
  @apply !bg-[#26262B] font-bold border-0 border-none;
}
.orderItemInfoTable .p-datatable-thead tr th span {
  @apply text-[#F2F2F2];
}
.orderItemInfoTable .p-datatable-thead tr th:first-child {
  @apply rounded-tl-lg border-none pl-8 w-[20%];
}
.orderItemInfoTable .p-datatable-thead tr th:nth-child(2) {
  @apply w-[29%];
}
.orderItemInfoTable .p-datatable-thead tr th:nth-child(3) div span {
  @apply w-full text-center;
}
.orderItemInfoTable .p-datatable-thead tr th:nth-child(4) div span {
  @apply w-full text-center;
}
.orderItemInfoTable .p-datatable-thead tr th:last-child div span {
  @apply w-full text-end;
}
.orderItemInfoTable .p-datatable-thead tr th:last-child {
  @apply rounded-tr-lg border-none pr-8;
}
.orderItemInfoTable .p-datatable-tbody tr td {
  @apply border-none;
}
.orderItemInfoTable .p-datatable-tbody tr td:first-child {
  @apply pl-8 w-[20%];
}
.orderItemInfoTable .p-datatable-tbody tr td:nth-child(2) {
  @apply w-[29%];
}
.orderItemInfoTable .p-datatable-tbody tr td:nth-child(3) {
  @apply text-center;
}
.orderItemInfoTable .p-datatable-tbody tr td:nth-child(4) {
  @apply text-center;
}
.orderItemInfoTable .p-datatable-tbody tr td:last-child {
  @apply text-end pr-8;
}
.orderItemInfoTable .p-datatable-tbody tr:last-child td:first-child {
  @apply rounded-bl-lg;
}
.orderItemInfoTable .p-datatable-tbody tr:last-child td:last-child {
  @apply rounded-br-lg pr-8;
}
.orderItemInfoTable .p-datatable-tbody tr {
  @apply !bg-[#30343B] text-[#FAF9F6];
}
.orderItemInfoTable .p-datatable-tbody tr.p-row-odd {
  @apply !bg-[#26262B] text-[#FAF9F6];
}
.orderItemInfoTable span.p-column-title {
  @apply bg-inherit;
}
.flexBlockWrapper {
  @apply flex justify-between w-full;
}
.flexWrapper {
  @apply flexBlockWrapper py-1 px-4 sm:p-0 border-b border-solid border-[#383F47] sm:border-none;
}
.flexColWrapper {
  @apply flex flex-col border-t-0 sm:border-t border-solid border-[#383F47] sm:grid;
}
.gridNoGapRounded {
  @apply grid gap-y-0 rounded-md;
}
.filterCardWrapper {
  @apply py-1 px-4 sm:p-0 border-solid border-[#383F47] bg-[#30343B];
}

.home-page .p-card {
  @apply rounded-lg shadow-lg shadow-[#00000029] grow w-[35%] sm:w-[25%] md:w-[19%];
}

.home-page .p-card .p-card-body {
  @apply p-3 sm:!p-4 h-full flex flex-col justify-between;
}

.home-page .p-card .p-card-body .p-card-content {
  @apply p-0 !pt-2;
}

.home-page .p-card .p-card-title h6 {
  @apply text-sm font-bold w-3/4 sm:w-1/2 font-helvetica;
}

.home-opm {
  @apply sm:mt-6 ml-0 sm:ml-[5vw];
}
.home-opm-comp {
  @apply ml-0 sm:ml-[5vw];
}
.home-refresh-btn,
.home-expand-btn {
  @apply !bg-[#22262C] p-0 rounded-full;
}
.home-refresh-btn .p-button {
  @apply !bg-[#22262C] border-[#22262C] rounded-full p-3 hover:bg-[#22262C] hover:!border-[#22262C] active:!border-[#22262C];
}
.home-refresh-btn .p-button:focus {
  @apply shadow-none;
}
.home-expand-btn button {
  @apply !bg-[#22262C] border-[#22262C] rounded-full p-0 hover:bg-[#22262C] hover:!border-[#22262C] active:!border-[#22262C];
}
.home-expand-btn .p-button:focus {
  @apply shadow-none;
}
.sessions-tabs.p-tabview .p-tabview-panels {
  @apply hidden;
}
.sessions-tabs.p-tabview {
  @apply w-[245px] h-[36px] self-end;
}
.sessions-tabs.p-tabview .p-tabview-nav {
  @apply border-none h-[32px] bg-[#292E36];
}
.sessions-tabs.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @apply bg-[#292E36] text-[#8B8C8F] h-[30px] rounded-none border-none text-[12px] font-medium;
}
.sessions-tabs .p-tabview-nav-content {
  @apply rounded-[8px];
}
.sessions-tabs.p-tabview .p-tabview-nav li {
  @apply bg-[#292E36];
}
.sessions-tabs.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  @apply bg-[#F2F2F2] text-[#22262C] rounded-[8px] text-[12px] font-medium;
}
.sessions-tabs.p-tabview
  .p-tabview-nav
  li
  .p-tabview-nav-link:not(.p-disabled):focus {
  @apply shadow-none;
}
.sessions-tabs.p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  @apply bg-[#292E36] text-[#8B8C8F];
}
.sessions-tabs.p-accordion .p-accordion-header .p-accordion-header-link,
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @apply transition-none border-none py-0;
}
.sessions-tabs.p-tabview .p-tabview-panels {
  @apply hidden;
}
.sessions-tabs.p-tabview {
  @apply w-[245px] h-[36px] self-end;
}
.sessions-tabs.p-tabview .p-tabview-nav {
  @apply border-none h-[32px] bg-[#292E36];
}
.sessions-tabs.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @apply bg-[#292E36] text-[#8B8C8F] h-[30px] rounded-none border-none text-[12px] font-medium;
}
.sessions-tabs .p-tabview-nav-content {
  @apply rounded-[8px];
}
.sessions-tabs.p-tabview .p-tabview-nav li {
  @apply bg-[#292E36];
}
.sessions-tabs.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  @apply bg-[#F2F2F2] text-[#22262C] rounded-[8px] text-[12px] font-medium;
}
.sessions-tabs.p-tabview
  .p-tabview-nav
  li
  .p-tabview-nav-link:not(.p-disabled):focus {
  @apply shadow-none;
}
.sessions-tabs.p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  @apply bg-[#292E36] text-[#8B8C8F];
}
.sessions-tabs.p-accordion .p-accordion-header .p-accordion-header-link,
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @apply transition-none border-none py-0;
}
